<%include ./partials/header.ejs %>
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading"><i>Digvijay</i></h1>
          <p class="intro-text">I am INDIAN,I m 20 years old.
            <br>Intresting things about me.</p>
          <p> I Have spent My 18 years or my life in India . But currently in Barrie,ON, I came to canada in 2016<br>
          It's beeen an year now And goes like second
          <br> I love Listening to Music and Singing Songs</p>
        </div>
      </div>
    </div>
  </div>
</header>
<%include ./partials/footer.ejs %>