<%include ./partials/header.ejs %>

<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>Arduino Projects</h1>
      <h2>Coin Piano</h2>
      <p>I Have done Various Projects With Arduino In my first semester! I made A piono With My own Programming.
        I was so much Making a Piano With wires and Coins . </p>
    </div>
  </div>
  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fshakhar.rana%2Fvideos%2F1243902715700894%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</section>
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>Traffic Lighting</h1>
      <p>I Have done Various Projects With Arduino In my first semester! I made A Traffic light.
        I was so much Making a Piano With wires and Coins . </p>
    </div>
  </div>
  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fshakhar.rana%2Fvideos%2F1243914845699681%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</section>

<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>HTML</h1>
      <p>I have make many Websites with html </p>
    </div>
  </div>
</section>


<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>System Analysis</h1>
      <p>I have Done so many projects that help me in Managing any project easily with five steps of System Analysis </p>
    </div>
  </div>
</section>
<%include ./partials/footer.ejs %>
